# Created by .ignore support plugin (hsz.mobi)
.idea/$CACHE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
log4j.iml
target/
